/*common styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.txt-primary{
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li a{
    color: #474747;
    text-decoration: none;

}

/*header relatedd style*/
header{
background-color: #FFF8F3;;
background-image: url('../images/header_bg.png');
background-repeat: no-repeat;
background-position: bottom right;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .profile-picture{
    width: 500px;
}
.banner-content{
max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 85px ;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description{

}

/*main section */
main{
max-width: 960px;
margin: 0 auto;
}
/*about section*/
.about{
    background: #f4eded;
    border-radius: 10px;
    padding: 130px;
    margin: 35px 0;
}
.section-description{
    color: #4e4c4c;
    text-align: center;
    font-size: 20px;
    font-weight: 1100px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
